/Cliente/nbproject/private/
"desktop.ini" 
/Cliente/build/
/Servidor/nbproject/private/
/Servidor/build/
/Servidor/dist/
/Cliente/dist/
/ServidorTurno/dist/
/Modulo/nbproject/private/
/Modulo/build/
/AdministradorModulo/nbproject/private/
/AdministradorSistema/nbproject/private/
/AdministradorModulo/build/
/AdministradorSistema/build/
